.card {
  width: 672px;
  height: 466px;
  padding: 32px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 28px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;

  label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
  }

  input {
    padding: 14px 16px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    font-size: 16px;
  }
}

.error {
  font-size: 14px;
  color: #e03a3a;
}

.saveButton {
  width: 100%;
  height: 54px !important; /* 모달 기본값 덮어쓰기 */
  margin-top: 12px;
  border-radius: 8px;
  background: var(--violet-violet_5534DA, #5534da);
  color: var(--white-white_FFFFFF, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
