.container {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px 40px;
  box-sizing: border-box;
  height: 390px;

  max-width: 1200px;
  overflow-x: hidden;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 64px;
  color: #000;
}

.emptyArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #bdbdbd;
  user-select: none;
  gap: 24px;
}

.icon {
  opacity: 0.6;
}
.description {
  font-size: 20px;
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  .container {
    padding: 24px 20px;
    height: 327px;
    .title {
      font-size: 14px;
    }

    .emptyArea {
      img {
        width: 60px;
        height: 60px;
      }
      .description {
        font-size: 12px;
      }
    }
  }
}
