@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.ipt {
  &Box {
    margin-top: 16px;
    label {
      @include txtStyle('2lg', M);
      display: inline-block;
      margin-bottom: 8px;
      cursor: pointer;
    }
  }
  &TagWrap {
    @include txtStyle('lg', R);
    overflow: hidden;
    display: flex;
    align-items: center;
    color: $black3;
    padding: 0 16px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid $gray3;
    input {
      flex-shrink: 1;
      width: 100%;
    }
  }
}
