@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.subPage {
  padding: 71px 0 0 300px;
  height: 100%;
  background-color: #fafafa;
  & > header {
    position: fixed;
    left: 300px;
    right: 0;
  }
  // 마이페이지 & 대시보드 수정 사용
  &Inner {
    padding: 20px;
    width: 672px;
  }
}
