@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.subPage {
  padding: 71px 0 0 300px;
  height: 100%;
  background-color: #fafafa;
  & > header {
    position: fixed;
    left: 300px;
    right: 0;
  }
  // 마이페이지 & 대시보드 수정 사용
  &Inner {
    padding: 20px;
    width: 672px;
  }
  .pageContent {
    height: 100%;
  }
}

/* Tablet (1280px 이하) */
@media (max-width: 1280px) {
  .subPage {
    padding-left: 160px;
    & > header {
      left: 160px;
    }
    &Inner {
      padding: 20px;
      width: 100%;
    }
  }
}
/* mobile (743px 이하) */
@media (max-width: 743px) {
  .subPage {
    padding-top: 61px;
    padding-left: 67px;
    & > header {
      left: 67px;
    }
    // 마이페이지 & 대시보드 수정 사용
    &Inner {
      padding: 16px 12px;
      width: 100%;
    }
  }
  .userPage {
    padding: 70px 12px;
    height: auto;
    .pageContent {
      width: 100%;
      max-width: 320px;
    }
  }
}
