@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.backPage {
  margin-bottom: 34px;
  .btn {
    @include txtStyle('lg', M);
    padding-left: 28px;
    color: $black3;
    background: url('/images/common/btn_back_arrow.svg') no-repeat 0 50%;
  }
}