@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.dashboardLink {
  @include txtStyle('2lg', M);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  padding-left: 36px;
  color: $gray1;
  &.active {
    border-radius: 4px;
    background: rgba($color: $violet2, $alpha: 0.8);
  }
  &.owner::after {
    content: '';
    display: inline-block;
    margin-left: 4px;
    width: 18px;
    height: 14px;
    background: url(/images/dashboard/ico_crown.svg) no-repeat 0 0;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &.green::before {
    background: $green;
  }
  &.purple::before {
    background: $purple;
  }
  &.orange::before {
    background: $orange;
  }
  &.blue::before {
    background: $blue;
  }
  &.pink::before {
    background: $pink;
  }
}
