@use '@styles/variables' as *;
@use '@styles/mixins' as *;

@mixin firstMediumStyle {
  @include txtStyle('lg', SB);
  width: 34px;
  height: 34px;
}

.user {
  display: inline-flex;
  align-items: center;
  .first {
    @include txtStyle('xs', B);
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 2px solid $white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    &:only-child {
      width: 24px;
      height: 24px;
      border: none;
    }
    &.hasImage {
      border: 2px solid $white;
    }
  }
  .name {
    @include txtStyle('lg', R);
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
  }

  &.large {
    .first {
      @include txtStyle('lg', SB);
      width: 38px;
      height: 38px;
      &:only-child {
        border: 2px solid $white;
      }
      &.remain {
        text-indent: -2px;
        color: #d25b68;
        background-color: #f4d7da !important;
      }
    }
    .name {
      margin-left: 12px;
      @include txtStyle('lg', M);
      color: $black3;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
  }
  &.medium {
    .first {
      @include firstMediumStyle;
    }
    .name {
      margin-left: 8px;
      @include txtStyle('md', R);
      color: $black3;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 150px;
    }
  }
  &.comment {
    .first {
      @include firstMediumStyle;
      position: absolute;
      left: 0;
      top: 2px;
    }
    .name {
      margin-left: 0;
      @include txtStyle(14px, B);
    }
  }
  // 헤더 아바타 스택용 타입
  &.avatar {
    .first {
      @include txtStyle('md', SB);
      width: 38px;
      height: 38px;
      border: none;
    }
  }
}

:global(.userGroup) {
  display: flex;
  .user {
    margin-left: -8px;
    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  [class*='userGroup'] {
    .user:nth-child(n + 4) {
      display: none;
    }
  }
}
